/Tabla/ejertabla/nbproject/private/
/ejercicio-01042022/tabla1/nbproject/private/
/ejercicio-01042022/tabla1/build/
/ejercicio-01042022/inventory/nbproject/private/
/ejercicio-01042022/proyecto/nbproject/private/
/Nueva Carpeta/proyecto/nbproject/private/
/ATP/proyecto/nbproject/private/
/ATP/proyecto/build/
